.root {
    margin: 50px;
    background-color: lightgray;
    padding: 20px;
    border: 1px solid black;
    font-size: 16px;
}

.addNote {
    background-color: white;
    padding: 10px;
}

.addText {
    width: 500px;
    height: 20px;
    margin: 10px;
}

.addButton {
    background-color: green;
    color: white;
}